{block content}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Přidat článek</h6>
  </div>
	<div class="card-body">
	  {form insertForm}
	  	{label name /}
	  	{input name}
	  	{input submit}
	  {/form}
	</div>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Výpis článků</h6>
  </div>
  <div class="card-body">
    {control grid}
  </div>
</div>

{/block}