{block content}
	<div class="uk-container uk-margin uk-text-center uk-margin-large-bottom">
		<h1 class="">Stránka nenalezena</h1>
		<p style="font-size: 24px;">Stránka, kterou hledáte, nebyla nalezena.<br>Možná byla přesunuta, smazána<br>nebo je v adrese překlep.</p>
		<div>
			<a class="button pink pink-shadow inline-block" href="{link Homepage:default}">Zpět na domovskou stránku</a>
		</div>
	</div>
{/block}