.bg-gradient-primary {
	background-color: #0c212e;
  background-image: linear-gradient(180deg,#0c212e 10%,#000 100%);
}
.error {
	font-size: 16px;
	width: auto;
}
.bg-login-image {
	background-image: url('../img/cover.jpeg');
}
.table, label, input {
  color: #1e1e1e;
}
a {
	color: #003973;
}
a:hover, a:focus {
	color: #0065cc;
}
a, a:hover, a:focus {
	text-decoration: none;
}
table .actions {
	text-align: center;
	width: 200px;
}
.table td, .table th {
	vertical-align: middle;
}
label {
	font-weight: bold;
}
label:not(:first-of-type) {
	margin-top: 1.3rem;
}

.back a {
	color: #1e1e1e;
}
.back a i {
	margin-right: 5px;
}
.topbar-name {
	color: #1e1e1e;
	margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}
.uk-tab > * > a {
	font-size: 18px;
	font-weight: bold;
	text-transform: none;
}
.sidebar-dark .nav-item .nav-link {
	padding: 0.5rem 1rem !important;
}
.inactive {
  background-color: #ffaeae;
}
.inactive td {
	border: 1px solid #ffaeae;
}
.unconfirmed {
  background-color: #ffe7ae;
}
.unconfirmed td {
	border: 1px solid #ffe7ae;
}
.subcategory-image {
	max-width: 40px;
}
.checkbox-wrapper label {
	width: 100%;
	margin-top: 0;
}
input[type="checkbox"] {
	margin-right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.select2-container {
	width: 100% !important;
}
.select2-container--default .select2-selection--single {
	border-radius: 0;
	height: 40px;
	border: 1px solid #e5e5e5;
}
.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	line-height: 39px;
	padding-left: 10px;
	padding-right: 25px;
}
.select2-container--default .select2-results > .select2-results__options,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #1e1e1e;
}
.nav-link {
  justify-content: space-between;
}
.uk-badge {
	line-height: 19px;
	background: #004f9d;
}
.uk-badge.green {
	background: green;
}
.uk-badge.light-blue {
	background: #00abff;
}
.uk-notification {
  width: 600px;
  max-width: 100%;
}
.detail-row {
	display: flex; 
	justify-content: space-between;
	max-width: 100%; 
	color: #000;
}
.detail-row:hover {
	background-color: #F4F4F4;
}
.detail-row .column-name {
	font-weight: bold;
}

.sidebar-dark .nav-item .nav-link i {
	width: 15px;
	text-align: center;
}

.service-place .icons-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.service-place .icons-wrapper .icon {
  background-color: #356980;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px;
  max-width: 90px;
}
.service-place .icons-wrapper .icon.active {
  background-color: #d6714e;
}
.service-place .icons-wrapper .icon img {
  max-width: 80px;
}
.service-place .icons-wrapper .text {
  font-size: 13px;
  line-height: 16px;
  max-width: 90px;
  text-align: center;
  margin-bottom: 15px;
}

.note-editable {
	color: #000;
}

.lang-wrapper {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}
.lang-wrapper .uk-tab {
  margin-bottom: 20px;
}
.lang-wrapper input {
	background-color: #f9f9f9;
}