<script>
  flatpickr( '.flatpickr', { 
    position: "above",
    altInput: true,
    altFormat: "d. m. Y H:i",
    altInputClass: "uk-input",
    dateFormat: "U",
    enableTime: true,
    time_24hr: true,
  });
  flatpickr( '.flatpickr-date', { 
    position: "above",
    altInput: true,
    altFormat: "d. m. Y",
    altInputClass: "uk-input",
    dateFormat: "U",
    enableTime: false
  } );
</script>